<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2> Agent Information</h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="agentForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="first_name" required>
                    <mat-error *ngIf="agentForm.get('first_name')?.hasError('required')">
                      Name is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Surname</mat-label>
                    <input matInput formControlName="last_name">
                  </mat-form-field>
                </div>
              
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Mobile</mat-label>
                    <input matInput formControlName="phone" type="text" (input)="onInput($event)"
                    maxlength="10" required>
                    <mat-error *ngIf="agentForm.get('phone')?.hasError('required')">
                      Mobile No is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                  <mat-error *ngIf="agentForm.get('email')?.hasError('email') && agentForm.get('email')?.touched">
                    Please enter a valid email address
                  </mat-error>
                  </mat-form-field>
                </div>
                
                   <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                     <mat-form-field class="example-full-width mb-3" appearance="outline">
                       <mat-label>Gender</mat-label>
                       <mat-select formControlName="gender" required>
                         <mat-option [value]="'Male'">
                           Male
                         </mat-option>
                         <mat-option [value]="'Female'">
                           Female
                         </mat-option>
                       </mat-select>
                       <mat-error *ngIf="agentForm.get('gender')?.hasError('required')">
                        Gender is required
                      </mat-error>
                     </mat-form-field>
                   </div>

                   <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                     <mat-form-field class="example-full-width mb-3" appearance="outline">
                       <mat-label>Marital Status</mat-label>
                       <mat-select formControlName="matrialStatus" required>
                        <mat-option [value]="'Unmarried'">
                          Unmarried
                        </mat-option>
                        <mat-option [value]="'Married'">
                          Married
                        </mat-option>
                      </mat-select>
                     </mat-form-field>
                   </div> 
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Date Of Birth</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dob" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="agentForm.get('dob')?.hasError('required')">
                      Please select date
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Qualification</mat-label>
                <mat-select formControlName="education" required>
                  <mat-option *ngFor="let option of educations$ | async" [value]="option.id">{{ option.name }}</mat-option>
                </mat-select>
                <mat-error *ngIf="agentForm.get('education')?.hasError('required')">
                  Select Any Qualification
                </mat-error>
                  </mat-form-field>
                </div>
              
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label> Address</mat-label>
                      <textarea matInput formControlName="address" required></textarea>
                    </mat-form-field>
                  </div>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Country</mat-label>
                    <mat-select formControlName="country" (selectionChange)="onCountryChange($event)" required>
                      <mat-option *ngFor="let option of countries$ | async" [value]="option.id">{{ option.name }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="agentForm.get('country')?.hasError('required')">
                      Select Any Country
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>State</mat-label>
                    <mat-select formControlName="state" (selectionChange)="onCountryStateChangeDistrict($event)" required>
                      <mat-option *ngFor="let option of states$ | async" [value]="option.id">{{ option.name }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="agentForm.get('state')?.hasError('required')">
                      Select Any State
                    </mat-error>
                  </mat-form-field>
                </div>
      
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>District</mat-label>
                    <mat-select formControlName="district" (selectionChange)="onCountryStateDistrictChangeCity($event)" required>
                      <mat-option *ngFor="let option of districts$ | async" [value]="option.id">{{ option.name }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="agentForm.get('district')?.hasError('required')">
                      Select Any District
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>City</mat-label>
                    <mat-select formControlName="city" required>
                      <mat-option *ngFor="let option of cities$ | async" [value]="option.id">{{ option.name }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="agentForm.get('city')?.hasError('required')">
                      Select Any City
                    </mat-error>
                   </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Aadhar Number</mat-label>
                    <input matInput formControlName="aadharno" type="text" (input)="onInput($event)"
                    maxlength="12" required>
                    <mat-error *ngIf="agentForm.get('aadharno')?.hasError('required')">
                      Aadhar is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Bank Account Number</mat-label>
                    <input matInput formControlName="bankaccno" required>
                    <mat-error *ngIf="agentForm.get('bankaccno')?.hasError('required')">
                      Bank Account No is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>     
              
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Bank Name</mat-label>
                    <input matInput formControlName="bankname" required>
                    <mat-error *ngIf="agentForm.get('bankname')?.hasError('required')">
                      Bank Name is required
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Bank IFSC Code</mat-label>
                    <input matInput formControlName="bankifsccode" required>
                    <mat-error *ngIf="agentForm.get('bankifsccode')?.hasError('required')">
                      Bank IFSC code is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Bank  Branch Name</mat-label>
                    <input matInput formControlName="bankbranchname" required>
                    <mat-error *ngIf="agentForm.get('bankbranchname')?.hasError('required')">
                      Bank Branch Name is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>User Name</mat-label>
                    <input matInput formControlName="username" required>
                    <mat-error *ngIf="agentForm.get('username')?.hasError('required')">
                      User Name is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" type="password" required>
                    <mat-error *ngIf="agentForm.get('password')?.hasError('required')">
                      password is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Re-Enter Password</mat-label>
                    <input matInput formControlName="conformPassword" type="password" required>
                    <mat-error *ngIf="agentForm.get('conformPassword')?.hasError('required')">
                      Re-Enter password is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                <label>Upload Profile Picture</label>
                <input type="file" id="photo" name="photo" formControlName="photo" (change)="onFileSelected($event)"  accept="image/*" required>
              </div>
            </div> 
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button class="btn-space" [disabled]="!agentForm.valid " mat-raised-button
                    color="primary">Submit</button>
                  <button type="button" mat-raised-button color="warn">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

