<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    
    <!-- Your content goes here  -->
  
      
    <div class="row clearfix">
      <div class="col-lg-4 col-md-12">
        <div class="card">
          <div class="m-b-20">
            <div class="contact-grid">
              <div class="profile-header bg-dark">
                <div class="user-name">
                  {{staff?.user?.first_name}} {{staff?.user?.last_name}}
                </div>     
                  <div class="name-center">User Name : {{staff?.user?.username}}</div>
              </div>
              <img src={{staff?.photo}} class="user-img" width="100" height="100" alt="">
              <!-- <img src="assets/images/user/usrbig2.jpg" class="user-img" alt=""> -->
              <p>
                {{staff?.user?.address}}
              </p>
              <div class="row">
                <div class="col-4">
                  <h5>June</h5>
                  <small>Month</small>
                </div>
                <div class="col-4">
                  <h5>5</h5>
                  <small>Present</small>
                </div>
                <div class="col-4">
                  <h5>3</h5>
                  <small>Absent</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>

      <div class="col-lg-8 col-md-12">
        <div class="card">
          <mat-tab-group>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon msr-2">face</mat-icon>
                About
              </ng-template>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="project_widget">
                  <div class="header">
                    <h2><strong>About</strong></h2>
                  </div>
                  <div class="body">
                    <div class="row">
                      <div class="col-md-3 col-6 b-r">
                        <strong>Full Name</strong>
                        <br>
                        <p class="text-muted">{{staff?.user?.first_name}} {{staff?.user?.last_name}}</p>
                      </div>
                      <div class="col-md-3 col-6 b-r">
                        <strong>Mobile</strong>
                        <br>
                        <p class="text-muted">{{staff?.user?.phone}}</p>
                      </div>
                      <div class="col-md-3 col-6 b-r">
                        <strong>Email</strong>
                        <br>
                        <p class="text-muted">{{staff?.user?.email}}</p>
                      </div>
                      <div class="col-md-3 col-6">
                        <strong>Gender</strong>
                        <br>
                        <p class="text-muted">{{staff?.gender}}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3 col-6 b-r">
                        <strong>State</strong>
                        <br>
                        <p class="text-muted">{{staff?.user?.state_name}}</p>
                      </div>
                      <div class="col-md-3 col-6 b-r">
                        <strong>District</strong>
                        <br>
                        <p class="text-muted">{{staff?.user?.district_name}}</p>
                      </div>
                      <div class="col-md-3 col-6 b-r">
                        <strong>Area</strong>
                        <br>
                        <p class="text-muted">{{staff?.user?.city_name}}</p>
                      </div>
                      <div class="col-md-3 col-6">
                        <strong>PinCode</strong>
                        <br>
                        <p class="text-muted">{{staff?.user?.pincode}}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3 col-6 b-r">
                        <strong>Marital Status</strong>
                        <br>
                        <p class="text-muted">{{staff?.maritalStatus}}</p>
                      </div>
                      <div class="col-md-3 col-6 b-r">
                        <strong>Office Mobile</strong>
                        <br>
                        <p class="text-muted">{{staff?.officeMobile}}</p>
                      </div>
                      <div class="col-md-3 col-6 b-r">
                        <strong>Personal Email</strong>
                        <br>
                        <p class="text-muted">{{staff?.pemail}}</p>
                      </div>
                      <div class="col-md-3 col-6">
                        <strong>Aadhar No</strong>
                        <br>
                        <p class="text-muted">{{staff?.aadharno}}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3 col-6 b-r">
                        <strong>Education Type</strong>
                        <br>
                        <p class="text-muted">{{staff?.eduType}}</p>
                      </div>
                      <div class="col-md-3 col-6 b-r">
                        <strong>Qualification</strong>
                        <br>
                        <p class="text-muted">{{staff?.education_name}}</p>
                      </div>
                      <div class="col-md-3 col-6 b-r">
                        <strong>Date of Birth</strong>
                        <br>
                        <p class="text-muted">{{staff?.dob | date: 'MM/dd/yyyy'}}</p>
                      </div>
                      <div class="col-md-3 col-6">
                        <strong>Date of Joining</strong>
                        <br>
                        <p class="text-muted">{{staff?.jdate | date: 'MM/dd/yyyy'}}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3 col-6 b-r">
                        <strong>Father Name</strong>
                        <br>
                        <p class="text-muted">{{staff?.fname}}</p>
                      </div>
                      <div class="col-md-3 col-6 b-r">
                        <strong>Father Mobile</strong>
                        <br>
                        <p class="text-muted">{{staff?.fmobile}}</p>
                      </div>
                      <div class="col-md-3 col-6 b-r">
                        <strong>Father Address</strong>
                        <br>
                        <p class="text-muted">{{staff?.faddress}}</p>
                      </div>
                      <div class="col-md-3 col-6 b-r">
                        <strong>Source</strong>
                        <br>
                        <p class="text-muted">{{staff?.source_name}}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3 col-6 b-r">
                        <strong>Reference Name</strong>
                        <br>
                        <p class="text-muted">{{staff?.refname}}</p>
                      </div>
                      <div class="col-md-3 col-6 b-r">
                        <strong>Reference Mobile</strong>
                        <br>
                        <p class="text-muted">{{staff?.refmobile}}</p>
                      </div>
                      <div class="col-md-3 col-6 b-r">
                        <strong>Reference Address</strong>
                        <br>
                        <p class="text-muted">{{staff?.refaddress}}</p>
                      </div>
                      <div class="col-md-3 col-6 b-r">
                        <strong>Past Experience(Months)</strong>
                        <br>
                        <p class="text-muted">{{staff?.pexp}}</p>
                      </div>
                    </div>  
                    <div class="row">
                      <div class="col-md-3 col-6 b-r">
                        <strong>Branch</strong>
                        <br>
                        <p class="text-muted">{{staff?.branch_name}}</p>
                      </div>
                      <div class="col-md-3 col-6 b-r">
                        <strong>Religion</strong>
                        <br>
                        <p class="text-muted">{{staff?.religion_name}}</p>
                      </div>
                      <div class="col-md-3 col-6 b-r">
                        <strong>Caste</strong>
                        <br>
                        <p class="text-muted">{{staff?.caste_name}}</p>
                      </div>
                    </div>   
                  </div>
                </div>
              </div>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon msr-2">settings</mat-icon>
                Settings
              </ng-template>
              <div class="header">
                <h2>
                  <strong>Security</strong> Settings</h2>
              </div>
              <div class="body">
                <div class="example-container">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Username</mat-label>
                    <input matInput>
                  </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Current Password</mat-label>
                    <input matInput type="password">
                  </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>New Password</mat-label>
                    <input matInput type="password">
                  </mat-form-field>
                </div>
                <button mat-raised-button color="primary">Save</button>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</section>
